body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 200px;
    font-size: 100px;
    background-color: rgba(47, 47, 153, 0.842);
    color: cornsilk;
}
.fb{
    background-image: url(../images/facebook.jpg);
    width: 200px;
    height: 200px;
    background-size: 100% 100%;
    position: absolute;
    margin-left: 600px;
    margin-top: 5px;
    bottom: 100px;

}   

